/*Site-Wide Stylesheet*/
/*Need @import from google? */

h1, h2{
    font-family: 'Abril Fatface', Cursive;
    font-size: 48px;
    margin: lrem 0 0 0;
}
body {
    font-family: 'Poppins', Sans-Serif;
    font-size: 14px;
    margin: 0;
    background-color: lightgreen;
}