/*Site-Wide Stylesheet*/
/*Need @import from google? */

h1, h2{
    font-family: 'Abril Fatface', Cursive;
    font-size: 48px;
    margin: lrem 0 0 0;
    align-content: center;
}
body{
    font-family: 'Poppins', Sans-Serif;
    font-size: 14px;
    background-color: lightgreen;
    align-content: center;
}
header{
    top: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    background-color: green;
}
nav{
    position: absolute;
    top: 0;
    height: 60px;
    line-height: 60px;
    z-index: 32000;
    text-align: center;
    background-color: black;
}
nav a{
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    font-size: 17px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
  }